.input {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid #eee;
  box-shadow:inset 1px 1px 2px 0 rgba(0,0,0,0.15);
}

.input:focus {
  outline: 0;
}
