.twoColumns,.threeColumns {
  height: calc(100% - 86px);
  width: 100%;
}

.twoColumns > div {
  width: 50%;
}

.twoColumns > div:first-child {
  border: 0; /* Should be no border-left on the first module */
}

.threeColumns > div {
  width: 33.3333%;
}

.threeColumns > div:first-child, .threeColumns > div:nth-child(2) {
  border: 0; /* Should be no border between Assignment and code editor */
}
