.wrapper {
  padding: 20px;
  height: calc(100% - 56px);
  box-sizing: border-box;
}

.title {
  font-family: Roboto, sans-serif;
}

.courseWrapper {
  font-family: Roboto, sans-serif;
  width: 250px;
  border-radius: 5px;
  padding: 15px 20px;
  background-color: #fff;
  margin: 5px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  color: rgba(0, 0, 0, 0.8);
}

.courseWrapper:hover {
  color: rgba(0, 0, 0, 1);
  background-color: #fbfbfb;
}

.courseName {

}

.scenes {
  font-size: 12px;
  position: absolute;
  right: 20px;
}
