.wrapper {
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.preview {
  border: 0;
  height: calc(100% - 56px);
  width: 100%;
  box-sizing: border-box;
  border-left: 2px solid #eee;
  background-color: #FFF;
}

.hidden {
  display: none;
}

.button {
  float: right;
  height: 100%;
}
