.wrapper {
  padding: 20px;
  font-family: Roboto, sans-serif;
}

.username {
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.logWrapper {
  padding: 15px;
  background-color: #fff;
  margin: 5px 0;
  border-radius: 5px;
}

.logMessage {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}

.logTimestamp {
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  margin-left: 10px;
}
