.wrapper {
  composes: button from './button.css';
  right: 480px;
  background-color: #4CAF50;
  bottom: -75px;
}

.uploading {
  composes: wrapper;
  cursor: default !important;
  opacity: 0.5;
  right: 400px;
}

.uploading:hover {
  opacity: 0.5;
}

.upload {
  composes: wrapper;
  right: 480px;
  bottom: 25px;
}
