@import './code.less';

@font-face {
  font-family: 'icomoon';
  src: url('./../fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-record:before {
  content: "\e604";
}
.icon-pause:before {
  content: "\e603";
}
.icon-play:before {
  content: "\e602";
}
.icon-stop:before {
  content: "\e605";
}
.icon-menu:before {
  content: "\e600";
}
.icon-file-add:before {
  content: "\e601";
}
.icon-save:before {
  content: "\e606";
}
.icon-file:before {
  content: "\e607";
}
.icon-folder:before {
  content: "\e608";
}
.icon-delete:before {
  content: "\e609";
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
  overflow: hidden;
}

#app > div {
  height: 100%;
}