.wrapper {
  position: absolute;
  right: 0;
  top: 10px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.course {
  padding: 7px 15px;
  margin: 5px;
  background-color: #aabbd7;
  border: 1px solid #576679;
  border-radius: 3px;
  color: #1b232e;
  font-size: 12px;
  cursor: pointer;
}

.course:hover {
  opacity: 0.8;
}
