.wrapper {
  padding: 10px 20px;
}

.successIcon {
  font-size: 42px;
  color: #4caf50;
  vertical-align: top;
}

.errorIcon {
  font-size: 42px;
  color: #f44336;
  vertical-align: top;
}

.successText {
  display: inline-block;
  margin-top: 15px;
  margin-left: 15px;
  vertical-align: top;
}

.errorText {
  display: inline-block;
  margin-top: 8px;
  margin-left: 15px;
  vertical-align: top;
}
