.wrapper {
  position: relative;
  height: 100%;
  float: left;
}

.arrowBox {
  position: absolute;
  top: 45px;
  margin-left: -20px;
  z-index: 5;
}

.arrowBox:before, .arrowBox:after {
  content: " ";
  bottom: 100%;
  left: 65px;
  border: 10px solid rgba(0, 0, 0, 0);
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  margin-left: -30px;
}

.arrowBox:before {
  border-bottom-color: #333;
}

.arrowBox:after {
  border-bottom-color: #fff;
}

.contentBox {
  border-radius: 2px;
  width: 192px;
  background-color: #fff;
  padding: 8px 0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.24) 0px 1px 4px;
  font-family: Roboto, sans-serif;
}
