.wrapper {
  background-color: #202634;
  height: 56px;
  width: 100%;
  padding-left: 50px;
}

.adminWrapper {
  composes: wrapper;
  padding-left: 140px;
}


.toolbarOverlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 56px;
  width: 100%;
  z-index: 2;
}
