.wrapper {
  padding: 10px;
  font-family: Roboto, sans-serif;
}

.taskHeader {
  color: #202633;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 14px;
}

.description {
  font-size: 14px;
  margin-top: 0;
}

.result {
  padding: 10px;
}
