.successMessage {
  text-align: center;
  font-size: 32px;
  width: 500px;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 50%;
  margin-left: -250px;
  margin-top: 10px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 250ms;
  opacity: 1;
  visibility: visible;
}

.successMessageHidden {
  composes: successMessage;
  opacity: 0;
  visibility: hidden;
}
