.addressbar {
  float: left;
  height: 24px;
  line-height: 26px;
  font-size: 14px;
  padding: 0 5px;
  border-radius: 3px;
  margin-left: 10px;
  background-color: #fff;
  color: #aaa;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.05) inset;
}
